.pf__skillbox_box {
    width: 165px;
    height: 115px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 2px solid #0C173A;
    background: rgba(217, 217, 217, 0.00);
    text-align: center;
}

.pf__skillbox_box img {
    height: 85px;
    width: 85px;
    margin-top: 12px;
}

.pf__skillbox_box:hover {
    background:  #08102A; 
    /* background: linear-gradient(149deg, rgba(12, 23, 58, 0.70) 0%, rgba(128, 128, 215, 0.70) 100%);   */
    box-shadow: 3px 3px 3px 3px;
    transition-duration: 0.3s;
    /* transition: background 0.3s ease; */
}


@media only screen and (max-width: 600px) {
    .pf__skillbox_box {
        width: 82.5px;
        height: 57.5px;
        border-radius: 10px;
    }

    .pf__skillbox_box img {
        margin-top: 6px;
        height: 42.5px;
        width: 42.5px;
    }

    
}